.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PersonsList li{
  list-style: none;
}

.PersonsList a{
  margin-left: 10px;
}

.PersonsList li span{
  width: 50px;
  display: inline-flex;
}

.PersonsList li span:first-child{
  width: 150px;
}

.PersonsList li:first-child h2{
  margin-bottom: 2px;
}

.PersonsList li:first-child a{
  margin-bottom: 10px;
}

form label{
  display: inline-flex;
  width: 90px;
}

.form-btn{
  margin-top: 10px;
}

.form-btn button{
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
